{% extends 'base.html.twig' %}

{% block title %} Hello Acceuil! {% endblock %}

{% block body %}
<style>
</style>

<div class="example-wrapper">
    <h1> Page d'Acceuil</h1>
</div>
    <div class="row">
        {% for article in articles %}
        <div class="card col-md-4" style="width: 18rem;">
            <p class="date">{{ article.createdAt | date("d/m/Y")}}</p>
            <img src="{{article.image}}" class="card-img-top" alt="{{ article.title }}">
            <div class="card-body">
              <h5 class="card-title"> {{article.title | upper}}</h5>
              <a href="{{path('show', {'id': article.id})}}" class="btn btn-primary">En Savoir plus</a>
            </div>
          </div>
        {% endfor %}
    </div>
{% endblock %}
